@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 16px 22px -17px #03153B;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 500;
}

.container1 {
	background-color: #f4f0ec;
	border-radius: 30px;
	box-shadow: 0 16px 22px -17px #03153B;
	overflow: hidden;
	width: 1300px;
	max-width: 180%;
}

.header1 {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header1 h2 {
	margin: 5%;
}

.form1 {
	padding: 30px 40px;	
}

.form-control1 {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control1 label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control1 input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control1 input:focus {
	outline: 0;
	box-shadow: 0 16px 22px -17px #03153B;
	border-color: #777;
}



.form-control1 i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control1.error small {
	visibility: visible;
}


