<html>
    <footer class="footer">
        <p align="center">
        Copyright©2022 NewBie. All Rights Reserved. Developed & Designed by:-Adarsh Verma, C.Saranya, Reuben Mohan Kurian<br>
      </p>
        </footer>
</html>