<%-include('headeral'); -%>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="./style1.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;
  /* border-color: white; */
}
.addform input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 90px;
  box-sizing: border-box;
}

.addform input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addform input[type=submit]:hover {
  background-color: #45a049;
}

.addform {
  border-bottom-right-radius:20px;
  background-color:#f4f0ec;
}
</style>
</head>
<body>

    <ul class="topnav">
        <li><a  href="/userfunction">Add Product</a></li>
        <li><a href="/updateitem">Update Items</a></li>
        <li><a href="/additems">Add Items</a></li>
        <li><a href="/deleteuserfunction">Delete Items</a></li>
        <li><a href="/updatepassword" class="active">Change Password</a></li>
        <li><a href="/userpayment">Payments</a></li>
        <li><a href="/userprofile">Profile</a></li>
      </ul>

<div style="padding:0 16px;">
  <center>
    <div class="addform">
  <h2>New Password</h2>
  <form action="updatepass" method="POST" >
    <label> Enter New password</label>  
<input type="text" name="password" id="password">
<input type="hidden" id="usr_id" name="usr_id" value=<%=usr_id%>>
<input type="submit" value="Submit">
  </form> 
</div>
</center>
</div>

</body>
</html>


